.container {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin: 0 10%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.titles{
    font-size: 35px;
    margin: 25px 11%;
}
.btnbuy{
    border: none;
    width: 88%;
    height: 12%;
    margin: 0 6%;
    border-radius: 100px;
    background-color: #e4002b !important;
}

.card {
    width: 17rem;
    margin-bottom: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    height: 425px;
}

.container .card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-img-top {
    /* height: 200px; */
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card-footer p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    
}

.card-footer button {
    padding: 8px 16px;
    font-size: 14px;
    border: 1px ridge;
    
}

.card-footer button {
    background-color: #e4002b;
    border: 1px solid #e4002b;
    border-radius: 60px;

    /* height: 45px */
}

.card-footer button:hover {
    background-color: #f8a024;
    border-color: #f8a024;
}
.title{
    height: 60px;
    margin: 5px 20px;
    font-size: 14px;
    padding-bottom: 15px;
}
.dodai {
    height: 85px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
    margin-bottom: -1rem;
    
}
.text{
    width: 60%;
}
.text1{
    width: 43%;
}
/* reponsive */
/* Mobile */
@media(min-width: 375px) and (max-width: 812px) {
    .container {
        display: flex;
        justify-content: center;
    }
}