.cart-h1 {
    margin-right: 59%;
    margin-top: 2%;
}
.titles {
    font-size: 35px;
    margin: 20px 11%;
}   
.cart-tongg {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    gap: 10%; 
    /* margin-top:1%; */
    padding-bottom: 3%;
    /* background-color: red; */
}

.carttt {
    width: 47%;
    height: 100%;
    margin-bottom: 5%;
    text-align: center;
    
}
.carttt2 {
    width: 47%;
    height: 100%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 25px;
    margin-top: 45px;
}

.cart1 {
    height: 44%;
    background: #fff;
    padding: 1.07142857rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    border-radius: 8px;
    margin-bottom: 4%;
    display: flex;
}

.cart1 .image-cart {
    width: 205px;
    height: 166px;
}

.cart-combo {
    text-align: left;
    margin-left: 3%;
    width: 100%;
    height: 150px;
}

.cart-i {
    display: flex;
    justify-content:end;
    align-items: center;
    height: 60px;
}

.cart2 {
    width: 25%;
    height: 50%;
    padding: 30px 20px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin-bottom: 20px;
}

.cart2 h4 {
    font-size: 1.5714285714rem;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    padding: 18px 14px;
}

.textline h3{
    padding: 12px 14px;
}
/*  */
/* Input container */
.input-container {
    position: relative;
    padding: 16px 14px;
    margin-bottom: 15px;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -20px;
    font-size: 12px;
    color: black;
}

/* .input-field:focus+.input-label+.input-highlight {
    width: 100%;
} */

.input-container {
    display: flex;
}

.input-container button {
    width: 30%;
    height: 43px;
    border-radius: 50px;
    color: white;
    background: black;
    font-weight: 650;
    font-size: 12px;
}

.textline {
    text-align: left;
}

.mony {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.mony1 {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 650;
    margin: 10px 0;
}

.mony2 {
    width: 100%;
    height: 40px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 5px 10px;
    background-color: #e4002b;
    border: 1px solid #e4002b;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    border-radius: 50px;
    margin-top: 15px ;


}

.cart-inputnumber{
    margin-left: 40%;
}

.payment-item{
    display: flex;
    margin: 28px 0;
}
.payment-item input{
    width: 45px;
    height: 35px;
    background: none;
    padding: 0 11px;
    margin-bottom: 2px;
}
.btnbut {
    width: 30px;
    height: 30px;
    border: 2px ridge;
    border-radius: 50%;
    margin: 2px 0;
}   

@media(min-width: 375px) and (max-width: 812px) {
    .cart-h1 {
        margin-right: 0%;
    }

    .cart-tong {
        display: block;
        padding: 15px;
    }

    .carttt {
        width: 100%;
    }

    .cart2 {
        width: 100%;
        margin-top: 8%;
    }

    .cart1 .image-cart {
        width: 90px;
        height: 73px;
    }

    .cart-combo .combo-detail {
        display: none;
    }

    .cart-combo .cart-i {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* .cart-combo .cart-inputnumber{
        margin-right: -25%;
    } */
}